html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.card {
  min-width: 30vw;
}

.center {
  display: grid;
  place-items: center;
  font-family: 'Roboto', sans-serif;
}

.spacer {
  height: 3rem;
}

.body {
  max-width: 30vw;
}

.form-container {
  display: grid;
  place-items: center;
  row-gap: 1rem;
  padding-bottom: 1rem;
}
