html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.get-restaurant-container {
  min-width: 40vw;
  display: grid;
  place-items: center;
}

.center {
  display: grid;
  place-items: center;
  font-family: 'Roboto', sans-serif;
}

.spacer {
  height: 3rem;
}

.place-details-spacer {
  height: 1rem;
}

.body {
  max-width: 30vw;
}

/* if screen is tablet or smaller */
@media (max-width: 768px) {
  .body {
    max-width: 80vw;
  }

  .padding-override {
    padding: 0 !important;
    margin: 0 !important;
  }

  .caption {
    max-width: 80vw;
  }
}

.form-container {
  display: grid;
  place-items: center;
  row-gap: 1rem;
  padding-bottom: 1rem;
}

.placeDetails {
  display: grid;
  place-items: center;
  /* row-gap: 0.25rem; */
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}

.directions-button {
  padding-top: 0.5rem;
}
